body {
  font-family: cursive, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida";
}

.main-color {
  background-color: rgb(31, 30, 31) !important;
}

a span {
  color: rgb(226, 40, 40);
  font-weight: bolder;
}

.banner {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-image: url("../image/gambar.png");
  background-size: cover;
  background-position: center;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

.animasi:hover {
  transform: scale(1.1);
}

.card-title {
  font-size: medium;
  font-weight: bolder;
}

.animasi {
  transition: 0.3s;
  font-size: small;
}

.melayani {
  width: 80px;
  height: 80px;
  border: solid #fff 2px;
  border-radius: 50%;
  color: #fff;
}
